html {
    font: sans-serif;
    color: whitesmoke;
    background-color: #00004d;
}

body {
    text-align: center;
} 

.header {
    font-size: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.scorebox {
    display: flex;
    flex: 1;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
}

.score {
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-color: black;
    justify-content: center;
}

p {
    background: rgb(0, 0, 51, 0.5);
    padding-left: 10px;
    padding-right: 10px;
}

#computer-score {
    border-right: solid;
    border-color: black;
}

.results {
    margin: 10px;
}

button {
    border-color: rgb(0, 0, 51, 0.5);
    font-size: 20px;
    color: whitesmoke;
    margin: 10px;
    padding: 0;
    background: rgb(0, 0, 51);
    height: 100px;
    width: 100px;
    justify-content: center;
    border-radius: 15px;
}